:root {
    --rotateSpeed: 20s;
}
body {
    background-color: black; 
    perspective: 800px;
    overflow: hidden;
}
@keyframes Rotate {
    to {transform: rotateY(360deg);}
}

.sim {
    position:relative;
    margin-top: 200px;
    width:600px;
    left: 504px;
    transform-style: preserve-3d;
    animation: Rotate var(--rotateSpeed) infinite linear;
}
.floor {
    background: 
    conic-gradient(#fff 0.25turn, #000 0.25turn 0.5turn, #fff 0.5turn 0.75turn, #000 0.75turn)
    top left / 10% 10% repeat;
    height: 600px;
    width: 600px;
    position: absolute;
    top: auto;
    left: 504;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 400px black inset;
}
.cube {
    position: relative;
    height: 225px;
    width: 225px;
    top: 2px;
    left: 30%;
    transform-style: preserve-3d;
    transform: translateY(71px)
}
.front, .back, .top, .bottom, .right, .left {
    background-color: rgb(215, 233, 197);
    opacity: 90%;
    position: absolute;
    height: 225.4px;
    width: 225.4px;
    box-shadow: 0px 0px 100px black inset;
}
.front, .back, .right, .left {
    animation: slimy 2s infinite;
    bottom: 0%;
}
.top {
    animation: slimyHead 2s infinite;
}
.back {
    transform: translateZ(-112.5px);
}
.front {
    transform: translateZ(112.5px);
}
.right {
    transform: translateX(112.5px) rotateY(90deg);
}
.left {
    transform: translateX(-112.5px) rotateY(90deg);
}
.bottom {
    transform: translateY(112.5px) rotateX(90deg);
}
.top {
    transform: translateY(-112.5px) rotateX(90deg);
}
.sphere {
    position: absolute;
    top: -100px;
    left: 56.25px;
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: white;
    background: linear-gradient(to bottom, white 50%, grey);
    transform-style: preserve-3d;
    animation: Rotate var(--rotateSpeed) infinite linear reverse,
    bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {animation-timing-function: ease-out; top:-7.5%}
    50% {top:-100%; animation-timing-function: ease-in;}
}
@keyframes slimy {
    0% {height:70%; animation-timing-function: ease-in;}
    10% {height: 100%; animation-timing-function: ease-out;}
    90% {height: 100%; animation-timing-function: ease-out;}
    100% {height:70%; animation-timing-function: ease-in;}
}
@keyframes slimyHead {
    0% {margin-top: 70px; animation-timing-function: ease-in;}
    10% {margin-top: 0; animation-timing-function: ease-out;}
    90% {margin-top: 0; animation-timing-function: ease-out;}
    100% {margin-top: 70px; animation-timing-function: ease-in;}
}